<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="lesson1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="ConsoleApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="lesson1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <section name="ConsoleApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><userSettings>
        <lesson1.Properties.Settings>
            <setting name="name" serializeAs="String">
                <value />
            </setting>
            <setting name="age" serializeAs="String">
                <value />
            </setting>
            <setting name="occupation" serializeAs="String">
                <value />
            </setting>
        </lesson1.Properties.Settings>
        <ConsoleApplication1.Properties.Settings>
            <setting name="name" serializeAs="String">
                <value />
            </setting>
            <setting name="age" serializeAs="String">
                <value />
            </setting>
            <setting name="occupation" serializeAs="String">
                <value />
            </setting>
        </ConsoleApplication1.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <lesson1.Properties.Settings>
            <setting name="greetings" serializeAs="String">
                <value>Приветствие из app.config!</value>
            </setting>
        </lesson1.Properties.Settings>
        <ConsoleApplication1.Properties.Settings>
            <setting name="greetings" serializeAs="String">
                <value>Приветствие из файла app.config!</value>
            </setting>
        </ConsoleApplication1.Properties.Settings>
    </applicationSettings>
</configuration>
